body {

}

p {margin-left:20px; font-family:'Droid Sans', sans-serif; color:rgb(114, 114, 114); font-size:100%}
		
li {margin-left:20px; font-family:'Droid Sans', sans-serif; color:rgb(114, 114, 114)}

h1 {margin-left:20px; font-family:'Droid Sans', sans-serif; color:rgb(114, 114, 114)}

h2 {margin-left:20px; font-family:'Droid Sans', sans-serif; color:rgb(114, 114, 114)}